{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="remove-bg"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text p-2 mb-4">My Profile</h2>
            <hr>
        </div>
        {% if employee.approved == False %}
        <div class="row">
        <p> Your account has NOT been approved yet. Please contact with your manager</p>
        </div>
        {% else %}
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <form class="mt-3 profile-update-form text" action="{% url 'profile' %}" method="POST"
                id="profile-update-form">
                {% csrf_token %}
                <p>Username: {{employee.user}}</p>
                <p>Manager: {{employee.line_manager}}</p>
                <p>Company: {{employee.company}}</p>
                <p>Start Date: {{employee.start_date}}</p>
                {{ form.as_p }}
                <button class="btn rounded-2 text float-right border mt-2">Update Information</button>
            </form>
        </div>
        {% endif %}
{% endblock %}