{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="remove-bg"></div>
<div class="container">
    <div class="row">
        {% if employee.company == None %}
        <div class="col">
            The company you have been registered with has been deleted. Please try to contact with your manager some alternative way. You can <a href="{% url 'download_timesheets' %}">Download Your Timesheet Data</a> or <strong>Delete</strong> your profile if you <a href="" data-bs-toggle="modal" data-bs-target="#myModal">click here.</a>
        </div>
        <div class="modal" id="myModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Click on DELETE to confirm your profile {{request.user.first_name}}.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>
        {% else %}
        <div class="col">
            <hr>
            <h2 class="text p-2 mb-4">My Profile</h2>
            <hr>
        </div>
        {% if employee.approved == False %}
        <div class="row">
            <p>Your account has NOT been approved yet. Please contact with your manager</p>
        </div>
        {% else %}
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <form class="mt-3 profile-update-form text" action="{% url 'profile' %}" method="POST"
                id="profile-update-form">
                {% csrf_token %}
                <p>Username: {{ employee.user }}</p>
                {% for manager in available_managers %}
                <p>
                    Manager: {{ manager.user.first_name }} {{ manager.user.last_name }}
                    <a type="button" class="btn-send-message" data-manager-id="{{ manager.id }}">
                        <i class="text fa-solid fa-envelope"></i>
                    </a>
                </p>
                {% endfor %}
                <p>Company: {{ employee.company }}</p>
                <p>Start Date: {{ employee.start_date }}</p>
                {{ form.as_p }}
                <button class="btn rounded-2 text float-right border mt-2">Update Information</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".btn-send-message");
        buttons.forEach(button => {
            button.addEventListener("click", function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Get the manager ID from the data-manager-id attribute
                const managerId = button.getAttribute("data-manager-id");

                // Construct the URL for the contact page with the recipient_id parameter
                const contactUrl = `/contact/?recipient_id=${managerId}`;

                // Redirect the user to the contact page
                window.location.href = contactUrl;
            });
        });
    });

    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
    myInput.focus()
    })
</script>
{% endblock %}
