{% extends "base.html" %}
{% load static %}


{% block content %}
{% for month, timesheets in grouped_timesheets.items reversed %}
  <h2 class="btn btn-primary" data-bs-toggle="collapse" href="#{{ month|slugify }}" role="button" aria-expanded="false" aria-controls="c{{ month|slugify }}">{{ month }}</h2>
<table class="table collapse" id="{{ month|slugify }}">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Name</th>
      <th scope="col">Clocking Time</th>
      <th scope="col">In / Out</th>
      <th scope="col">Daily Hours</th>
      <th scope="col">Weekly Hours</th>
      <th scope="col">Monthly Hours</th>
      <th scope="col">Recorded by</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  {% for timesheet in timesheets reversed %}
  <tbody class="{% cycle 'gray' 'white' %}">
    <tr>
      <th scope="row">{{ timesheet.clocking_time|date:'d/M' }}</th>
      <td>{{ timesheet.get_employee_name }}</td>
      <td>{{ timesheet.clocking_time|date:'h:i' }}</td>
      <td>{{ timesheet.logging }}</td>
      <td>{{ timesheet.get_worked_hours }}</td>
      <td>{{ timesheet.get_weekly_hours }}</td>
      <td>{{ timesheet.get_monthly_hours }}</td>
      <td>{{ timesheet.recorded_by }}</td>
      <td>{{ timesheet.comments }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}