{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text p-2 mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <form class="mt-3 profile-update-form text" action="{% url 'manager' %}" method="POST"
                id="profile-update-form">
                {% csrf_token %}
                <p>Username: {{ manager.user }}</p>
                <p>E-mail: {{ manager.user.email }}</p>
                <p>Company: {{ manager.company }}</p>
                <p>First Name: {{ manager.user.first_name}}</p>
                <p>Last Name: {{ manager.user.last_name}}</p>
                {{ manager_form.as_p }}
                <button class="btn rounded-2 text float-right border mt-2">Update Information</button>
            </form>
        </div>
    {% for employee in employees %}
        <a href="{% url 'approve' employee.id %}">{{ employee.user.first_name}} {{ employee.user.last_name }}</a>
        <p>{{ employee.get_approved_display }}</p>
        <p>{{employee.start_date}}</p>

    {% endfor %}

{% endblock %}